html {
  scroll-behavior: smooth;
}


/* Home Page */
.standard-padding {
  padding: 4% 10%;
}

.home-container h1 {
  font-size: 3rem;
  font-weight: 900;
}

.home-container h3 {
  font-size: 2rem;
}

.home-container p {
  font-size: 1.5rem;
}

#front-image {
  max-width: 70%;
}

.front-text {
  padding-top: 10%;
}


/* Features */
.benefits {
  padding-bottom: 3%;
}

#features i {
  padding-bottom: 6%;
}

#features p {
  font-size: 1.1rem;
  color: lightgrey;
}

#features h3 {
  font-size: 2rem;
}

/* Pricing */
#pricing h1 {
  font-size: 3rem;
}

#pricin
